.nav__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  top: -20px;
  z-index: -1;

  background: #002632;
}

.nav__trapezuim {
  width: 35px;
  border-top: 64px solid #c3002f;
  border-right: 35px solid transparent;
}

.menu__toggle input:checked .menu__dropdown {
  top: 64px;
}

/* menu list items style sheet starts here */
.menu__list li a {
  position: relative;
  padding: 2px 5px;
}
.menu__list li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid white;
  transition: 0.5s;
  opacity: 0;
}
.menu__list li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  transition: 0.5s;
  opacity: 0;
}
.menu__list li a:hover::before {
  transform: scaleY(1.5);
  opacity: 1;
  left: 15px;
}
.menu__list li a:hover::after {
  transform: scaleY(1.5);
  opacity: 1;
  left: -15px;
}
/* menu list items style sheet ends here */
